@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container mx-auto" style="width: 330px; margin-top: 50px">
    <form asp-controller="Home" asp-action="ResetPassword" method="post">
        <h2 class="form-login-heading" style="text-align: center; margin: 10px"><strong>Password Reset</strong></h2>
        <input asp-for="Code" type="hidden" value="@Model.Code" />
        <div class="form-group" style="margin-top:-25px;">
            <label asp-for="UserName" class="control-label px-4"><strong></strong></label>
            <input asp-for="UserName" class="form-control" placeholder="@Model.UserName" required />
        </div>
        <div class="form-group" style="margin-top:-30px;">
            <label asp-for="Password" class="control-label px-4"><strong></strong></label>
            <input asp-for="Password" class="form-control" placeholder="Password" required />
        </div>
        <div class="form-group" style="margin-top:-30px;">
            <label asp-for="ConfirmPassword" class="control-label px-4"><strong></strong></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" required />
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-success btn-block" type="submit">Reset password</button>
        </div>
    </form>
</div>